body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
}

.layout__container {
    width: 100vw;
    height: 100vh;
    overflow: none;
    &-upper {
        height: 60%;
        width: 100%;
        background: linear-gradient(
            180deg,
            rgba(50, 94, 189, 0.913603),
            rgba(25, 107, 138, 0.779149) 60%,
            rgba(0, 172, 255, 0.319765)
        );
    }

    &-chart {
        height: 40%;
        width: 100%;
        background: #ffffff;
        overflow-x: scroll;
        &--title {
            position: sticky;
            bottom: calc(100% - 25px);
            left: 15px;
            width: 100%;
            .blue-title {
                color: #94d6f7;
                font-size: 18px;
                font-weight: 500;
            }
            .orange-title {
                color: #ff8514;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
