
/*-------------------css layout------------------*/
body {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  color: #fff;
}
.layout-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg,rgba(50,94,189,.913603),rgba(25,107,138,.779149) 60%,rgba(0,172,255,.319765));
}

.layout-upper {
  height: 60%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-burger {
  width: 30px;
  height: 35px;
}

.nav-burger span {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
  display: block;
  margin: 6px 0;
}

.nav-location {
  height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.nav-location-dropdown {
  display: flex;
  align-items: center;
}

.icon-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-size: contain;
  background-image: url(images/static/arrow_down.svg);
}

.nav-notification {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-image: url(./images/static/bell_notification.svg);
  cursor: pointer;
}

.weatherStatus-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.weatherStatus-wrapper__icon {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-image: url(./images/static/cloud.svg);
  cursor: pointer;
}

.weatherStatus-wrapper__info {
  margin-left: 30px;
  font-size: 20px;
}

.status-text {
  font-size: 30px;
  color: #FFFFFF;
}

.status-info {

}

.status-temperature:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url(./images/static/temperature.svg);
  content: "";
  color: #FFFFFF;
}

.status-humidity::before {
  margin-left: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url(./images/static/humidity.svg);
  content: "";
  color: #FFFFFF;
}

.weatherParams-wrapper {
  display: flex;
}

.weatherParams-wrapper-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #FFFFFF;
}

.weatherParams-wrapper-item .title {
  font-weight: 500;
  font-size: 18px;
}

.weatherParams-wrapper-item:last-child {
  border-right: none;
  justify-content: space-around;
}

.bg-number {
  width: 30px;
  height: 30px;
  background-color: #69c75b;
  border-radius: 3px;
  font-size: 24px;
  padding: 5px;
}

.normal-number {
  width: 20px;
  height: 30px;
  font-size: 30px;
}

.circle-shape {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(168 218 249);
  border: 2px solid #FFFFFF;
}


.add-icon  {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(73 130 173);
  border: 1px solid #423636;
  align-items: center;
  justify-content: center;
}

.add-icon:before {
  width: 20px;
  height: 20px;
  background-image: url(./images/static/plus.svg);
  background-size: contain;
  display: block;
  content: "";
}

.add-text {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

/*-------------------css chart------------------*/
.chart-container {

}

.layout__container-chart {
  overflow: scroll;
  width: 1400px;
}